/**
 * Basic typography style for copy text
 */
body {
  color: $text-color;
  font-family: $text-font-stack;
  font-size: 10px;

  @media screen and (min-width: $break-small) {
    font-size: 14px;
  }
  @media screen and (min-width: $break-medium) {
    font-size: 18px;
  }
  @media screen and (min-width: $break-large) {
    font-size: 20px;
  }
}

h1              { font-size: 2em; margin: .67em 0 }
h2              { font-size: 1.5em; margin: .75em 0 }
h3              { font-size: 1.17em; margin: .83em 0 }
h5              { font-size: .83em; margin: 1.5em 0 }
h6              { font-size: .75em; margin: 1.67em 0 }
h1, h2, h3, h4,
h5, h6          { font-weight: bolder }

.header-menu{
  text-transform: uppercase;
  //font: 15px Dosis;
  letter-spacing: 1px;
}